<div class='otree-chat' id='otree-chat-{{ channel }}'>
    <div class='messages'></div>
    <input size="40">
    <button type="button">Send</button>
</div>


<style>
.otree-chat {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 30px 0 0 0;
}
.otree-chat .messages {
    height: 200px;
    overflow: auto;
    background: #eee;
    margin: 2px 0 5px 0;
}
.otree-chat .nickname {
    display: inline-block;
    color: #C07A36;
    width: 150px;
    font-weight: bold;
}
</style>


<script>
$(function () {

    // helper function to escape HTML
    var entityMap = {
      '&': '&amp;',
      '<': '&lt;',
      '>': '&gt;',
      '"': '&quot;',
      "'": '&#39;',
      '/': '&#x2F;',
      '`': '&#x60;',
      '=': '&#x3D;'
    };

    function escapeHtml (string) {
      return String(string).replace(/[&<>"'`=\/]/g, function (s) {
        return entityMap[s];
      });
    }

    var varsFromDjango = {{ vars_for_js }};
    var channel = varsFromDjango.channel;
    var participantCode = varsFromDjango.participant_code;
    var participantID = varsFromDjango.participant_id;

    var $chatWidget = $('#otree-chat-' + channel);

    var $messageInput = $chatWidget.find('input');

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + "/otreechat/" + channel + "/";
    console.log("Connecting to " + ws_path);
    var socket = new ReconnectingWebSocket(ws_path);
    var $msgdiv = $chatWidget.find('.messages');

    // Handle incoming messages
    socket.onmessage = function (message) {

        console.log("Got websocket message ");
        var messages = JSON.parse(message.data);

        var messagesHTML = '';

        for (var i = 0; i < messages.length; i++) {
            var chatMessage = messages[i];
            var nickname = chatMessage.nickname;

            {% comment %}
            Show my own nickname, so I know how it will look to
            others who read it.
            {% endcomment %}
            // need to use ID instead of code, for security
            if (chatMessage.participant_id == participantID) {
                nickname += ' (Me)';
            }

            messagesHTML += "<div class='message'>" +
                        "<span class='nickname'>" + escapeHtml(nickname) + "</span>" +
                        "<span class='body'>" + escapeHtml(chatMessage.body) + "</span>" +
                        "</div>";

        }
        $msgdiv.append(messagesHTML);
        $msgdiv.scrollTop($msgdiv.prop("scrollHeight"));
    };

    socket.onopen = function () {
        console.log("Connected to chat socket");
        // clear message history so we can re-populate
        $msgdiv.empty();
    };

    socket.onclose = function () {
        console.log("Disconnected from chat socket");
    };

    function sendMessage() {
        var body = $messageInput.val();

        if (!body) {
            return;
        }

        var data = {
            'body': $messageInput.val(),
            'participant_code': participantCode,
            'channel': channel
        };

        socket.send(JSON.stringify(data));
        $messageInput.val('');
    }

    $chatWidget.find('button').click(function(e) {
        sendMessage();
    });

    // pressing "enter" in the message box should submit a message,
    // NOT the page's form
    $messageInput.on('keypress', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            sendMessage();
        }
    });
});
</script>
